header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
}

.search-bar {
    display: flex;
    border: 2px solid #4682B4;
    border-radius: 8px;
    overflow: hidden;
    width: 850px;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: none;
}

.search-bar button {
    background-color: #4682B4;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: opacity;
}

.search-bar button img {
    height: 20px;
}

.search-bar button:hover {
    background-color: #4169E1;
}

.header-actions nav {
    display: flex;
    font-size: 16px;
    gap: 15px;
}

.main-page {
    padding: 20px;
}

.filter-form .filter .confirmFilter {
    font-size: 15px;
}

.filter-form .filter .filter-type {
    font-size: 18px;
}

.filter-form .filter {
    padding: 0 0 0 30px;
}

.books {
    display: flex;
    gap: 20px;
}

.book {
    margin-top: 20px;
    text-align: center;
    flex: 1 1 auto;
    padding: 10px;
}

.book #bookImg {
    width: 200px;
    height: 280px;
    border: 10px solid #ccc;
}

.book .price-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.book .price {
    font-size: 20px;
    font-weight: bold;
}

.book .price-and-button button {
    border-radius: 20px;
    background-color: #0d2fda;
    transition: opacity, background-color 0.3s;
    color: white;
    border: none;
    padding: 5px 10px;
}

.book.even-row {
    background-color: #f2f2f2;
}

.book.odd-row {
    background-color: #ffffff;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.book .price-and-button button:active, .search-bar button:active {
    animation: blink 0.5s;
}

.book .price-and-button button:hover {
    background-color: #45a049;
}

footer {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .books {
        flex-direction: column;
        align-items: center;
    }

    .book {
        flex: none;
        width: 80%;
        margin: 10px 0;
    }

    header h1 {
        display: none;
    }
}
